# Twitch API credentials (https://dev.twitch.tv/console/apps)
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# YouTube/Google API credentials (https://console.cloud.google.com/apis/credentials)
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
